* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --thumb: #000
}
.no-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.img-shine { 
    transform: perspective(800px) rotate3d(1, -1, 0, 5deg);
    mask: 
        linear-gradient(135deg, #000c 40%, #000, #000c 60%) 
        100% 100%/
        240% 240%;
    transition: all .5s;
}

.img-shine:hover { 
    transform: perspective(800px) rotate3d(1, -1, 0, -5deg);
    mask-position: 0 0;
}

.slider-container-global .scroll-range {
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

/* Chrome Scrollbar styling */
.slider-container-global .scroll-range::-webkit-slider-runnable-track {
    height: 2px;
    width: 100%;
    background-color: #d4d4d4;
}

.slider-container-global .scroll-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4px;
    width: 20px;
    position: relative;
    top:-1px;
    cursor: pointer;
}

.slider-container-global .scroll-range.ts-range::-webkit-slider-thumb {background: var(--thumb);}

/* Mozilla Firefox Scrollbar styling */
.slider-container-global .scroll-range::-moz-range-thumb {
    height: 5px;
    width: 100px;
    outline: none;
    background: var(--ii-gradient);
    cursor: pointer;
}

.slider-container-global .scroll-range.ts-range::-moz-range-thumb {background: var(--thumb);}

.slider-container-global .scroll-range::-moz-range-track{
    height: 2px;
    width: 100%;
    background-color: #d4d4d4;
}