@tailwind base;
@tailwind components;
@tailwind utilities;
*,::before, ::after {
  border-color: transparent;
}
:root {
  /* font-family: "Lato", sans-serif; */
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.text-shadow {
  text-shadow: 0 13.36px 8.896px #c4b59d,0 5px 5px 
}
html {
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  overflow: auto; /* Ensure it's scrollable */
  scroll-behavior: smooth;
}

/* Webkit browsers like Chrome, Safari, and Edge */
html::-webkit-scrollbar {
  display: none;
}

.main-body {
  background: radial-gradient(circle, #EDE8F5 0%, #ADBBDA 90%);
  background-attachment: fixed;
}

.progress {
  top: 0;
  margin: 0;
  padding: 0;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 2%;
}

.progress .indicator {
  stroke: #fe0222;
}

.img-circle {
  transition: transform 1s ease 0s;
}
figure:hover .img-circle {
  transform: rotateY(7deg);
}

.project-slick .slick-slide div{
  height: 100px;
}

.circle-path {
  clip-path: circle(75%);
}
.circle-path:hover {
  clip-path: circle(45%);
}

.split-image-effect--container {
  --g: 5px;
  display: grid;
  clip-path: inset(1px);
}

.split-image-effect--container > img, .split-image-effect--container > div {
  --_p: calc(-1*var(--g));
  grid-area: 1/1;
  aspect-ratio: 1;
  cursor: pointer;
  transition: .4s .1s clip-path, .4s .1s filter;
}

.split-image-effect--container > div {
  clip-path: polygon(0 0, calc(100% + var(--_p)) 0, 0 calc(100% + var(--_p)));
}

.split-image-effect--container > img:first-child {
  clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%);
}

.split-image-effect--container:hover > div,
.split-image-effect--container:hover > img:first-child:hover {
  --_p: calc(50% - var(--g));
}

.split-image-effect--container:hover > img:first-child,
.split-image-effect--container:hover > img:first-child:hover + div {
  --_p: calc(-50% - var(--g));
}
